In [ ]:
# 1,2,3,4,5,6,12,13,14,15,20,18,28,29,24,,10,11,7,8

# 1..
t1 = ('orange',[10,20,30],(4,15,25))
#a = list(enumerate(tuple1))
a = t1[1][1]

20

In [ ]:
# 2...
T1 = ()
type(T1)

tuple

In [ ]:
# 3......
l = [50,20,30,100,80,70]
for i in range (len(l)):
    if l[i]==100:
        print('100 is at index ',i)

100 is at index  3

In [ ]:
# 4......
n = int(input('enter a number '))
sum = 0
for i in range(1,n+1):
    sum += i
print(sum)

enter a number 7
28

In [ ]:
# 5.......
lower_value = int(input('enter the lowest value '))
upper_value = int(input('enter the lowest value '))
for num in range(lower_value,upper_value+1):
  if num>1:
      for i in range(2,num):
        if(num%i)==0:
          break
      else:
        print(i)

In [ ]:
# 6..

In [ ]:
# 7....
a = [10,20,60,40,10,60,30,20]
b = []
for i in a:
    if i in b:
        continue
    else:
       b.append(i)
print(b)

[10, 20, 60, 40, 30]

In [ ]:
# 8.....
s = input('enter a string ')
if s==s[::-1]:
    print('string is palindrome')
else:
  print('string is not a palindrome')

enter a string oyo
string is palindrome

In [ ]:
# 9.....

In [ ]:
# 10.....
a = 'python is dynamic launguage '
b = input('enter a substring ')
if b in a:
    print('yes present')
else:
    print('not present')

enter a substring is
yes present

In [ ]:
# 11......
n = int(input('enter a index '))
l = [1,2,3,4,5,6,7,8,9]
l[:n+1]

enter a index 0

[1]

In [ ]:
# 12....
d = {'name' : 12,
     'course' : 'bca',
     'name' : 'naveen'}
print(d.keys())

dict_keys(['name', 'course'])

In [ ]:
# 13....
a = [3,5,4,8,2,9,10,17,1]
a.sort(reverse=True)
print(a)

[17, 10, 9, 8, 5, 4, 3, 2, 1]

In [ ]:
# 14.....
q = 'python is dynamic'
q = q.replace(' ','')
a = len(q)
print('character length avoiding space ',str(a))

In [ ]:
# 15..
a = [5,4,8,3,10]
a[::-1]
a

[5, 4, 8, 3, 10]

In [ ]:
# 16.....

In [ ]:
# 20....
a = [2,4,6,3,8,5,8]
a.insert(2,25)
a

[2, 4, 25, 6, 3, 8, 5, 8]

In [ ]:
# 18.....
a = input('enter a number ')
len(a)

enter a number 2345

4

character length avoiding space  15

In [ ]:
# 28.....
x = []
for i in range(300,801):
    a = str(i)
    if int(a[0])%2==0 and int(a[1])%2==0 and int(a[2])%2==0:
       x.append(i)
print(x)

[400, 402, 404, 406, 408, 420, 422, 424, 426, 428, 440, 442, 444, 446, 448, 460, 462, 464, 466, 468, 480, 482, 484, 486, 488, 600, 602, 604, 606, 608, 620, 622, 624, 626, 628, 640, 642, 644, 646, 648, 660, 662, 664, 666, 668, 680, 682, 684, 686, 688, 800]

In [ ]:
# 29......
a = [13,2,7,4,6,9,10,]
b = [16,8,3,2,9,17,14]
c = []
for i in a:
  if i%2!=0:
      c.append(i)
for i in b:
  if i%2==0:
      c.append(i)
print('new list are ',c)

new list are  [13, 7, 9, 16, 8, 2, 14]

In [ ]:
# 24....
speed = int(input('enter speed '))
if speed<50:
    print('OK')
elif speed>50 and speed<=60:
    print('average')
elif speed>60 and speed<132:
    b = (speed-60)/8*1
    print('point is ',b)
elif speed>132:
    print('licence suspended')

enter speed 76
point is  2.0

In [ ]:
# 11....
a = [2,4,5,8,5]
a.remove(4)
a

In [ ]:
# 7....
a = [2,4,6,4,8,2,6,4]
l = set(a)
print('perfect list are ')
b = (list(l))
for i in l:
  print(i)

perfect list are
8
2
4
6

In [ ]:
a = 'ABCDEFGHIJKLMNOQRSTUVWXYZ'